src/main/mule/pfj-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d0f4ef19-6629-4ca0-ba23-f6f2f9a84dbc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pfj-testFlow" doc:id="6f59df92-3de4-41e3-a6fa-45a2d1b28331" >
		<http:listener doc:name="Listener" doc:id="4a23392d-5bd7-40ad-88c0-429dc193e0b8" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="6398ceda-624c-4afd-ac55-f04af4be498b" message="START TRANSACTION"/>
		<set-payload value='#["SUCCESSFUL TRANSACTION - 77"]' doc:name="Set Payload" doc:id="777a2c3c-ba7d-40de-b25c-bdcddf05567b" />
		<logger level="INFO" doc:name="Logger" doc:id="17b0db04-17c4-46eb-9c4c-f8f4fba5c90b" message="ENDED TRANSACTION"/>
	</flow>
</mule>
